otherapps/ork3desktop/ORK3/ORK3/Web References/AuthorizationService/AuthorizationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.amtgard-wl.com/ork3/dev/orkservice/Authorization/AuthorizationService.php?wsdl" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.amtgard-wl.com/ork3/dev/orkservice/Authorization/AuthorizationService.php?wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.amtgard-wl.com/ork3/dev/orkservice/Authorization/AuthorizationService.php?wsdl">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="AuthorizeRequest">
        <xsd:all>
          <xsd:element name="UserName" type="xsd:string" />
          <xsd:element name="Password" type="xsd:string" />
          <xsd:element name="Token" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="AuthorizeResponse">
        <xsd:all>
          <xsd:element name="Status" type="tns:StatusType" />
          <xsd:element name="Token" type="xsd:string" />
          <xsd:element name="Timeout" type="xsd:dateTime" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ResetPasswordRequest">
        <xsd:all>
          <xsd:element name="UserName" type="xsd:string" />
          <xsd:element name="Email" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ResetPasswordResponse">
        <xsd:all>
          <xsd:element name="Status" type="tns:StatusType" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="XSiteAuthorizeRequest">
        <xsd:all>
          <xsd:element name="UserName" type="xsd:string" />
          <xsd:element name="Password" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="XSiteAuthorizeResponse">
        <xsd:all>
          <xsd:element name="Status" type="tns:StatusType" />
          <xsd:element name="Token" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="AddAuthorizationRequest">
        <xsd:all>
          <xsd:element name="Token" type="xsd:string" />
          <xsd:element name="MundaneId" type="xsd:int" />
          <xsd:element name="Type" type="xsd:string" />
          <xsd:element name="Id" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="RemoveAuthorizationRequest">
        <xsd:all>
          <xsd:element name="Token" type="xsd:string" />
          <xsd:element name="AuthorizationId" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="StatusType">
        <xsd:all>
          <xsd:element name="Status" type="xsd:int" />
          <xsd:element name="Error" type="xsd:string" />
          <xsd:element name="Detail" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AuthorizeRequest">
    <wsdl:part name="AuthorizeRequest" type="tns:AuthorizeRequest" />
  </wsdl:message>
  <wsdl:message name="AuthorizeResponse">
    <wsdl:part name="return" type="tns:AuthorizeResponse" />
  </wsdl:message>
  <wsdl:message name="XSiteAuthorizeRequest">
    <wsdl:part name="XSiteAuthorizeRequest" type="tns:XSiteAuthorizeRequest" />
  </wsdl:message>
  <wsdl:message name="XSiteAuthorizeResponse">
    <wsdl:part name="return" type="tns:XSiteAuthorizeResponse" />
  </wsdl:message>
  <wsdl:message name="AddAuthorizationRequest">
    <wsdl:part name="AddAuthorizationRequest" type="tns:AddAuthorizationRequest" />
  </wsdl:message>
  <wsdl:message name="AddAuthorizationResponse">
    <wsdl:part name="return" type="tns:StatusType" />
  </wsdl:message>
  <wsdl:message name="RemoveAuthorizationRequest">
    <wsdl:part name="RemoveAuthorizationRequest" type="tns:RemoveAuthorizationRequest" />
  </wsdl:message>
  <wsdl:message name="RemoveAuthorizationResponse">
    <wsdl:part name="return" type="tns:StatusType" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordRequest">
    <wsdl:part name="ResetPasswordRequest" type="tns:ResetPasswordRequest" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordResponse">
    <wsdl:part name="return" type="tns:StatusType" />
  </wsdl:message>
  <wsdl:portType name="AuthorizationServicePortType">
    <wsdl:operation name="Authorize">
      <wsdl:input message="tns:AuthorizeRequest" />
      <wsdl:output message="tns:AuthorizeResponse" />
    </wsdl:operation>
    <wsdl:operation name="XSiteAuthorize">
      <wsdl:input message="tns:XSiteAuthorizeRequest" />
      <wsdl:output message="tns:XSiteAuthorizeResponse" />
    </wsdl:operation>
    <wsdl:operation name="AddAuthorization">
      <wsdl:input message="tns:AddAuthorizationRequest" />
      <wsdl:output message="tns:AddAuthorizationResponse" />
    </wsdl:operation>
    <wsdl:operation name="RemoveAuthorization">
      <wsdl:input message="tns:RemoveAuthorizationRequest" />
      <wsdl:output message="tns:RemoveAuthorizationResponse" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input message="tns:ResetPasswordRequest" />
      <wsdl:output message="tns:ResetPasswordResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthorizationServiceBinding" type="tns:AuthorizationServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="Authorize">
      <soap:operation soapAction="http://www.amtgard-wl.com/ork3/dev/orkservice/Authorization/AuthorizationService.php/Authorize" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.amtgard-wl.com/ork3/dev/orkservice/Authorization/AuthorizationService.php?wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.amtgard-wl.com/ork3/dev/orkservice/Authorization/AuthorizationService.php?wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XSiteAuthorize">
      <soap:operation soapAction="http://www.amtgard-wl.com/ork3/dev/orkservice/Authorization/AuthorizationService.php/XSiteAuthorize" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.amtgard-wl.com/ork3/dev/orkservice/Authorization/AuthorizationService.php?wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.amtgard-wl.com/ork3/dev/orkservice/Authorization/AuthorizationService.php?wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAuthorization">
      <soap:operation soapAction="http://www.amtgard-wl.com/ork3/dev/orkservice/Authorization/AuthorizationService.php/AddAuthorization" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.amtgard-wl.com/ork3/dev/orkservice/Authorization/AuthorizationService.php?wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.amtgard-wl.com/ork3/dev/orkservice/Authorization/AuthorizationService.php?wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAuthorization">
      <soap:operation soapAction="http://www.amtgard-wl.com/ork3/dev/orkservice/Authorization/AuthorizationService.php/RemoveAuthorization" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.amtgard-wl.com/ork3/dev/orkservice/Authorization/AuthorizationService.php?wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.amtgard-wl.com/ork3/dev/orkservice/Authorization/AuthorizationService.php?wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap:operation soapAction="http://www.amtgard-wl.com/ork3/dev/orkservice/Authorization/AuthorizationService.php/ResetPassword" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.amtgard-wl.com/ork3/dev/orkservice/Authorization/AuthorizationService.php?wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.amtgard-wl.com/ork3/dev/orkservice/Authorization/AuthorizationService.php?wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthorizationService">
    <wsdl:port name="AuthorizationServicePort" binding="tns:AuthorizationServiceBinding">
      <soap:address location="http://www.amtgard-wl.com/ork3/dev/orkservice/Authorization/AuthorizationService.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>